*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
Harvesteer/Harvesteer/bin/
Harvesteer/bin/
Harvesteer/Harvesteer/obj/
Harvesteer/obj/
Harvesteer/Content/obj/
!Harvesteer/x64
!Harvesteer/x86
!Harvesteer/Libraries
